@*@model RegisterViewModel
    @{
        ViewBag.Title = "Register user";
        Layout = "_LayoutCreate";
    }

        <div class="container">
            <form asp-controller="Account" asp-action="Register" method="post" class="mt-2">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label asp-for="City"></label>
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="City" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label asp-for="Address"></label>
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="Address" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-outline-primary">Register</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning">Back</a>
                    </div>

                </div>
            </form>
        </div>*@

@model RegisterViewModel
@{
    ViewBag.Title = "Login page";
    Layout = "_LayoutLogin";
    @*Layout = "_LayoutCreate";*@
}
<div id="LoginForm" style="height:550px;top:40%!important">
    <form asp-controller="Account" asp-action="Register" method="post" class="mt-2">
        <h6>Register</h6>
        <span asp-validation-for="Email" class="text-danger"></span>
        <input id="txtl" placeholder="Gmail" asp-for="Email" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <input id="txtl" placeholder="Password" asp-for="Password" />
        <input id="txtl" placeholder="Confirmpassword" asp-for="ConfirmPassword" />
        <input id="txtl" placeholder="City" asp-for="City" />
        <input id="txtl" placeholder="Address" asp-for="Address" />
        <button type="submit" id="Button1">Register</button>
        <center>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </center>
    </form>
</div>

