@model CategoryEditViewModel
@{
    ViewBag.Title = "Edit Category ";
    Layout = "_LayoutDashboard";
}

<h4>Role management &gt; @ViewBag.Title</h4>

<form asp-controller="Categories" asp-action="Edit" method="post" class="mt-2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="CategoryId" />
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="CategoryName"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-primary">Update</button>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-warning">Back</a>
        </div>
    </div>
</form>